.btn-light {
  border-radius: 25px;
  border: none;
  background-color: white;
}

.btn-light:hover {
  background-color: lightgray;
}

.btn-light:focus {
  box-shadow: none !important;
}

.btn-outline-dark:hover {
  background-color: lightgray;
}

.btn-dark:hover {
  background-color: lightgray;
}
