@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./buttons.css";
@import "./navbar.css";
@import "./recipes.css";
@import "./detail.css";
@import "./searchbar.css";
@import "./tags.css";

body {
  font-size: 14px;
  color: #484848;
  line-height: 1.43;
}
