.search-bar .form-control {
  border-right: none;
}

.search-bar .form-control:focus {
  border-color: none !important;
  box-shadow: none !important;
  outline: none !important;
  border-color: lightgray;
}

.search-bar .btn-outline-secondary {
  background-color: hotpink;
  border-color: hotpink;
  border-left-color: hotpink;
  color: white;
}

.search-bar .btn-outline-secondary:hover {
  color: pink;
}

.search-bar .btn-outline-secondary:focus {
  box-shadow: none;
}
