{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Login</title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label" for="">Username</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block body_script %}
<script src="{% static "bundles/style.js" %}"></script>
{% endblock body_script %}